* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0 auto;
    min-width: 300px;
    max-width: 800px;
}

/* NAVIGATION */
    nav {
        padding: 40px 0 0;
    }

    nav li {
        display: inline-block;
        text-transform: uppercase;
        box-sizing: inherit;
        padding: 10px 15px;
    }

    nav a {
        position: relative;
        text-decoration: none;
        color: #444444;
    }

    nav a.active {
        color: #333333;
        font-weight: 600;
    }

    nav a.active:after {
        width: 100%;
    }

    nav a:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -4px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 0%;
        background: #CCCCCC;

        -o-transition: .2s all;
        -ms-transition: .2s all;
        -moz-transition: .2s all;
        -webkit-transition: .2s all;
        transition: .2s all;
    }

    nav a:hover {
        color: #000000;
    }

    nav a:hover:after {
        width: 100%;
    }

/* CONTENT */
    div.content {
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }

    /* TITLE */
        section#title {
            margin: 30px 0 0;
            font-weight: 700;
        }

        section#title h1 {
            font-size: 5em;
            line-height: 0.9;
        }

        section#title h2 {
            font-weight: 600;
            font-size: 2em;
        }

    /* FOOTER */
        section#footer {
            margin: 60px 0 0;
        }

        section#footer a {
            border: 0px;
            padding: 0 5px;
        }

        section#footer p {
            font-size: 12pt;
            margin: 10px 0 50px;
        }

        .social {
            color: inherit;
            -o-transition: all .2s;
            -ms-transition: all .2s;
            -moz-transition: all .2s;
            -webkit-transition: all .2s;
            transition: all .2s;
        }

        .github:hover {
            color: #BD2C00;
        }

        .email:hover {
            color: #FFC300;
        }

        .spotify:hover {
            color: #1ED760;
        }

        .linkedin:hover {
            color: #0077B5;
        }

        .facebook:hover {
            color: #3B5998;
        }

        .instagram:hover {
            color: #BC2A8D;
        }

    /* MAIN CONTENT */
        section#main-content {
            margin: 30px 0 0;
        }

        section#main-content p {
            margin: 20px;
            font-size: 16pt;
            line-height: 1.4;
        }

        section#main-content h1 {
            font-size: 3em;
            padding: 0 0 10px;
        }

        section#main-content a {
            color: inherit;
            border-bottom: 1px solid #000000;
            text-decoration: none;
        }

    /* MISC */
        div#page-item {
            margin: 20px auto;
            max-width: 500px;
            line-height: 1.4;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
        }

        div#page-item h2 {
            font-size: 1.8em;
        }

        div#page-item h4 {
            margin: 1px 0;
            font-weight: 600;
        }

        div#page-item h5 {
            margin: 0 0 10px;
            font-weight: 400;
            font-size: 11pt;
        }

        div#page-item img {
            width: 100%;
            margin: 0 0 30px;
            border: 1px solid #CCCCCC;
        }

        div#page-item ul {
            text-align: left;
            margin: 0 0 20px 30px;
        }

        .instagram-media {
            margin: 10px auto !important;
        }
