html, body {
  margin: 0;
  font-size: 16px;
  min-width: 300px;
  font-family: 'Raleway', sans-serif; }

span.bold {
  font-weight: 600; }

@media (min-width: 0px) {
  nav {
    margin: 20px 0 0; }
    nav ul {
      margin: 0 auto;
      padding: 0;
      list-style: none;
      text-align: center;
      background-color: #FFFFFF;
      width: 320px; }
    nav li {
      display: inline-block;
      text-transform: uppercase;
      box-sizing: inherit;
      padding: 10px 15px; }
    nav a {
      display: block;
      position: relative;
      text-decoration: none;
      color: #555555; }
      nav a.active {
        color: #333333;
        font-weight: 600; }
      nav a.active:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -4px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100%;
        background: #DDDDDD; }
      nav a:after {
        position: absolute;
        content: '';
        height: 2px;
        bottom: -4px;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 0%;
        background: #DDDDDD;
        -o-transition: .2s;
        -ms-transition: .2s;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        transition: .2s; }
      nav a:hover {
        color: #000000; }
      nav a:hover:after {
        width: 100%; }
    nav span {
      display: block;
      position: relative;
      margin: 0 auto;
      bottom: 1.9em;
      border-bottom: 2px solid #DDDDDD;
      width: 85%;
      height: 10px;
      z-index: -1; }

  section#title header p {
    text-align: center;
    font-weight: 600;
    margin: 2em 0 0;
    font-size: 200%;
    width: 100%;
    line-height: .8em; }
  section#title header h1 {
    display: block;
    text-align: center;
    font-weight: bold;
    padding: 0 20px;
    font-size: 550%;
    line-height: .85em;
    margin: .15em 0; }

  section#main-content header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 300%;
    margin: 1em 0 0; }
  section#main-content p {
    text-align: center;
    margin: 1.5em auto;
    line-height: 1.4em;
    width: 85%;
    font-size: 150%; }
  section#main-content a {
    color: #000000;
    font-weight: 600; }

  section#footer {
    display: block;
    text-align: center;
    margin: 6em auto 0; }
    section#footer span {
      margin: 4em auto 1em; }
      section#footer span a {
        font-size: .8em; }
        section#footer span a i {
          -o-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          display: inline-block;
          vertical-align: middle;
          text-align: center;
          width: 50px;
          height: 50px;
          line-height: 50px;
          border-radius: 50%;
          border: 2px solid #888888;
          margin: 0 2px;
          background-color: #FFFFFF;
          color: #000000; }
          section#footer span a i.fa-facebook-official {
            border: 2px solid #3b5998; }
          section#footer span a i.fa-github {
            border: 2px solid #bd2c00; }
          section#footer span a i.fa-spotify {
            border: 2px solid #2ebd59; }
          section#footer span a i.fa-linkedin {
            border: 2px solid #0077B5; }
          section#footer span a i.fa-envelope-o {
            border: 2px solid #fbbc05; }
        section#footer span a:hover i {
          -o-transition: all 0.2s ease;
          -ms-transition: all 0.2s ease;
          -moz-transition: all 0.2s ease;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
          background-color: #000000;
          border: 2px solid #FFFFFF;
          color: #FFFFFF; }
          section#footer span a:hover i.fa-facebook-official {
            background-color: #3b5998; }
          section#footer span a:hover i.fa-github {
            background-color: #bd2c00; }
          section#footer span a:hover i.fa-spotify {
            background-color: #2ebd59; }
          section#footer span a:hover i.fa-linkedin {
            background-color: #0077B5; }
          section#footer span a:hover i.fa-envelope-o {
            background-color: #fbbc05; }
    section#footer p {
      font-size: 150%;
      margin: 1em auto .5em; }
    section#footer p.copy {
      font-size: 85%;
      margin: 5em auto 1em; }

  div#resume-item {
    text-align: center; }
    div#resume-item ul {
      text-align: left;
      max-width: 400px;
      margin: 0 auto; }
    div#resume-item h2 {
      font-size: 20pt;
      margin: 50px 0 -10px; }
    div#resume-item h3 {
      font-weight: 600;
      font-size: 15pt;
      margin: 20px 0 0; }
    div#resume-item h4 {
      font-weight: 500;
      margin: 0px 0 10px; }
    div#resume-item p {
      font-size: 12pt;
      margin: 0 auto; } }
@media (min-width: 600px) {
  section#footer span a {
    font-size: 1em; }
    section#footer span a i {
      margin: 0 5px;
      width: 60px;
      height: 60px;
      line-height: 60px; } }
@media (min-width: 1080px) {
  div.content {
    border: 2px solid #DDDDDD;
    max-width: 1024px;
    margin: 4em auto;
    -webkit-box-shadow: 0 0 20px #F0F0F0;
    -moz-box-shadow: 0 0 10px #F0F0F0;
    box-shadow: 0 0 10px #F0F0F0; }

  nav {
    margin: 50px 0 0; }

  section p {
    width: 80%; }

  section#footer {
    margin: 6em auto 2em; } }

/*# sourceMappingURL=style.css.map */
